@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #FFE81F;      /* Star Wars yellow */
  --color-white: #FFFFFF;         /* White */
  --color-black: #000000;   /* Black */
}


:root {
  font-family: 'Orbitron', sans-serif;
  color: var(--color-white);
}

body{
  background-color: var(--color-black);
}

.bg {
  background-image: url('/public/bg.png');
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
  animation: zoom 16s alternate infinite; 
}

/* Respect user's motion preferences to prevent motion sickness and improve accessibility */
@media (prefers-reduced-motion: reduce) {
  .bg {
    animation: none;
    transition: none;
  }
}

@keyframes zoom {
  0%{
      transform: scale(1);
  }
  100%{
      transform: scale(1.5);
  }
}

.logo {
  width: 187px;
  height: 80px;
}

.main {
  padding: 27px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 28px;
  font-family: "Orbitron-Bold", "Orbitron Bold", "Orbitron", sans-serif;
  font-weight: 700;
  color: var(--color-white);
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;   /* Exact gap on design */
}